<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=pageTitle%></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        .formhai{
            width:50%;
            margin:auto;
        }
        .btn1{
           margin-left:750px;
           background:blue;
           border-radius:20px;
    
       }
       .user{
         margin:auto;
         width:50%;
         border: 1px solid black;
         margin-top:30px;
         padding:20px;
         color: red;
         background:grey;
         
       }
       
    </style>
</head>
<body>
  <% if(errorMessage) {%>
    <div style="color:red;"><%=errorMessage%></div>
    <%}%>
   
      <form class="formhai" action="/passwordReset" method = "post" >
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name ="email">
          <small id="emailHelp" class="form-text text-muted"></small>
        </div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
        <input type = "hidden" name="_csrf" value ="<%=csrfToken%>">
      </form>
</body>
</html>